.content {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  border: 5px solid black;
}
.content__circle {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  left: 0;

  animation-name: red-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.content__circle:hover {
  animation-play-state: paused;
}

/* @keyframes red-circle {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    background-color: rgb(255, 0, 234);
  }
  100% {
    left: 400px;
    top: 400px;
  }
} */
